body{
    background-image: url("/imgs/white-stars-transparent-background-24-50o.png");
}

#APODHolder{
    height: 47vw;
    width: 47vw;
    max-height: 550px;
    max-width: 550px;

    background-image: url("/imgs/callisto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    /*background-attachment: fixed;*/
    background-position: center;
}

.footer{
    background-color: rgb(228, 228, 228);
}